<div ui-content-for="title">
  <span>在线预约</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" ng-submit='login()'>
    <fieldset>
      <!--<legend>在线预约</legend>-->
        <div class="form-group">
          <label>姓名</label>
          <input type="text"
                 ng-model="name"
                 class="form-control"
                 placeholder="输入姓名">
        </div>
        
        <div class="form-group has-success has-feedback">
          <label>电子邮箱</label>
          <input type="email"
                 ng-model="email"
                 class="form-control"
                 placeholder="输入电子邮箱">
        </div>

        <div class="form-group">
          <label>密码</label>
          <input type="password" 
                 class="form-control"
                 placeholder="输入密码">
        </div>
        
        <div class="form-group">
            <label>日期</label>
            <!--<p class="input-group">-->
            <!--  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" readonly="readonly"/>-->
            <!--  <span class="input-group-btn">-->
            <!--    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
            <!--  </span>-->
            <!--</p>-->
            <div>
              <div style="display:inline-block;">
                  <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" style="padding:1px;"></datepicker>
              </div>
            </div>
        </div>

        <div class="form-group">
          <label>提醒</label>
          <ui-switch 
            ng-model='rememberMe'></ui-switch>
        </div>
    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block" ng-click='commit()'>
      提交
    </button>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='commit()'>提交</a>
    </div>

  </form>
 </div>
</div>
